<div class="navbar navbar-expand-md navbar-light">
  <a class='navbar-brand' href='#'>Navbar</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action='/users/logout' method='POST'>
      <input class="btn btn-danger" type='submit' value='logout' />
    </form>
  </div>
</div>